<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

    <category label="30021">
        <setting label="30030" type="lsep"/>
        <setting type="sep"/>
        <setting id="playerPlay" type="enum" values="XbmcPlayer|XbmcPlugin (recommandé)" label="30029" default="1"/>
        <setting id="playerType" type="enum" values="Auto|MPlayer|DVDPlayer" label="30001" default="2" enable="eq(-1,0)"/>
        <setting id="srt-view" type="bool" label="30002" default="false"/>
        <setting id="deco_color" type="select" label="30010" values="aliceblue|lemonchiffon|lightblue|lightcoral|lightcyan|lightgrey|lightgreen|lightpink|lightsalmon|lightseagreen|lightskyblue|lightslategray|lightslategrey|lightsteelblue|lightyellow|lavender|moccasin|pink|plum|powderblue|seashell|coral" default="lightcoral"/>
    <!-- setting id="param_timeout" label="30027" type="number" default="1000"/-->

        <setting label="30031" type="lsep"/>
        <setting type="sep"/>
        <setting subsetting="true" label="30005" type="lsep"/>
        <setting id="meta-view" type="bool" label="30006" default="false"/>
        <setting id="api_tmdb" type="text" label="API"  default="92ab39516970ab9d86396866456ec9b6" />
        <setting id="poster_tmdb" type="select" label="30007" values="w92|w154|w185|w342|w500|w780|original" default="w342"/>
        <setting id="backdrop_tmdb" type="select" label="30008" values="w300|w780|w1280|original" default="w1280"/>
        <setting id="extendedinfo-view" type="bool" label="Use extendedinfo" default="false"/>

        <setting label="30076" type="lsep"/>
        <setting type="sep"/>
        <setting id="history-view" type="bool" label="Activer l'historique de recherche" default="true"/>

        <setting label="30410" type="lsep"/>
        <setting type="sep"/>
        <setting id="Block_Noti_sound" type="bool" label="30411" default="false"/>

        <setting label="30032" type="lsep"/>
        <setting type="sep"/>
        <setting id="visuel-view" type="number" label="30419" default="500"/>
        <setting id="active-view" type="bool" label="30408" default="false"/>
        <setting id="default-view" type="number" label="30406" default="50" enable="eq(-1,true)"/>
        <setting id="accueil-view" type="number" label="30407" default="500" enable="eq(-2,true)"/>
        <setting id="movie-view" type="number" label="30404" default="500" enable="eq(-3,true)"/>
        <setting id="serie-view" type="number" label="30405" default="500" enable="eq(-4,true)"/>


        <!--utilisation masquer de chemin pour les fanart -->
        <setting  visible="false" label="Recherches: Image" type="image" id="images_cherches" default="special://home/addons/plugin.video.vstream/resources/art/search_fanart.jpg"/>
        <setting  visible="false" label="Recherches visuelles: Image" type="image" id="images_cherchev" default="special://home/addons/plugin.video.vstream/resources/art/vsearch_fanart.jpg"/>
        <setting  visible="false" label="Télévisions: Image" type="image" id="images_tvs" default="special://home/addons/plugin.video.vstream/resources/art/tv_fanart.jpg"/>
        <setting  visible="false" label="Télévisions Replays: Image" type="image" id="images_replaytvs" default="special://home/addons/plugin.video.vstream/resources/art/replay_fanart.jpg"/>
        <setting  visible="false" label="Films: Image" type="image" id="images_films" default="special://home/addons/plugin.video.vstream/resources/art/films_fanart.jpg"/>
        <setting  visible="false" label="Séries: Image" type="image" id="images_series" default="special://home/addons/plugin.video.vstream/resources/art/series_fanart.jpg"/>
        <setting  visible="false" label="Animés: Image" type="image" id="images_anims" default="special://home/addons/plugin.video.vstream/resources/art/animes_fanart.jpg"/>
        <setting  visible="false" label="Documentaires: Images" type="image" id="images_docs" default="special://home/addons/plugin.video.vstream/resources/art/doc_fanart.jpg"/>
        <setting  visible="false" label="Sports: Image" type="image" id="images_sports" default="special://home/addons/plugin.video.vstream/resources/art/sport_fanart.jpg"/>
        <setting  visible="false" label="Vidéos: Image" type="image" id="images_videos" default="special://home/addons/plugin.video.vstream/resources/art/buzz_fanart.jpg"/>
        <setting visible="false" label="Images Fav" type="image" id="images_marks" default="special://home/addons/plugin.video.vstream/resources/art/mark_fanart.jpg"/>
        <setting visible="false" label="Images sources" type="image" id="images_hosts" default="special://home/addons/plugin.video.vstream/resources/art/host_fanart.jpg"/>
        <setting visible="false" label="Images update" type="image" id="images_updates" default="special://home/addons/plugin.video.vstream/resources/art/update_fanart.jpg"/>
        <setting visible="false" label="Images download" type="image" id="images_downloads" default="special://home/addons/plugin.video.vstream/resources/art/download_fanart.jpg"/>
        <setting visible="false" label="Images library" type="image" id="images_librarys" default="special://home/addons/plugin.video.vstream/resources/art/library_fanart.jpg"/>
        <setting visible="false" label="Trakt" type="image" id="images_trakt" default="special://home/addons/plugin.video.vstream/resources/art/trakt_fanart.jpg"/>

    </category>

    <category label="30138">
        <setting label="30116" type="lsep"/>
        <setting type="sep"/>
        <setting label="30420" type="action"  action="XBMC.RunScript(special://home/addons/plugin.video.vstream/resources/lib/runscript.py, search)" />

        <setting type="sep"/>
        <setting subsetting="true" label="Si le menu ne fonctionne pas [CR] utiliser (plugins On/Off) pour activer/désactiver les sources." type="lsep"/>
        <setting subsetting="true" label="Faite un retour sur le Github Merci." type="lsep"/>

        <!-- <setting label="30079" type="lsep"/>
        <setting type="sep"/>
        <setting id="search2_label" type="text" label="30501" default="Séries" />
        <setting label="30094" type="action"  action="XBMC.RunScript(special://home/addons/plugin.video.vstream/resources/lib/runscript.py, search, search2)" />
        <setting id="search2_type" type="select" label="Mode de recherche à préférer pour cette recherche" values="Film|Série|Animé|Documentaire" default="Série"/>

        <setting label="30080" type="lsep"/>
        <setting type="sep"/>
        <setting id="search3_label" type="text" label="30501" default="Animés" />
        <setting label="30094" type="action"  action="XBMC.RunScript(special://home/addons/plugin.video.vstream/resources/lib/runscript.py, search, search3)" />
        <setting id="search3_type" type="select" label="Mode de recherche à préférer pour cette recherche" values="Film|Série|Animé|Documentaire" default="Animé"/>

        <setting label="30081" type="lsep"/>
        <setting type="sep"/>
        <setting id="search4_label" type="text" label="30501" default="Documentaires" />
        <setting label="30094" type="action"  action="XBMC.RunScript(special://home/addons/plugin.video.vstream/resources/lib/runscript.py, search, search4)" />
        <setting id="search4_type" type="select" label="Mode de recherche à préférer pour cette recherche" values="Film|Série|Animé|Documentaire" default="Documentaire"/> -->

    </category>

    <!-- search1_ = Films | search2_ = Séries | search3_ = Animés | search4_ = Documentaires-->
    <category label="30022">

        <setting label="30303" type="lsep"/>
        <setting type="sep"/>

        <setting id="plugin_alluc_ee" type="bool" label="Alluc (recherche de sources)" default="true"/>

        <setting visible="false" id="plugin_freebox" type="bool" label="active freebox" default="false"/>

        <setting id="plugin_adkami_com" type="bool" label="ADKami (Séries, Animés)" default="true"/>

        <setting id="plugin_buzzmonclick_com" type="bool" label="BuzzMonClick (Replay TV, Documentaires)" default="true"/>

        <setting id="plugin_cinemavf" type="bool" label="Cinemavf (Films, Séries, Animés)" default="true"/>

        <setting id="plugin_cinemay_com" type="bool" label="Cinemay (Films, Séries)" default="true"/>

        <setting id="plugin_cinemegatoil_org" type="bool" label="Cinemegatoil (Films)" default="true"/>

        <setting id="plugin_coco_stream" type="bool" label="Cinemegatoil (Films, Séries)" default="true"/>

        <setting id="plugin_ddl_island_su" type="bool" label="DDL Island (Films, Séries, Animés)" default="true"/>

        <setting id="plugin_disneyhd_tk" type="bool" label="DisneyHD (Films, Animés)" default="true"/>

        <setting id="plugin_documentaires_streaming_com" type="bool" label="Documentaires Streaming (Documentaires)" default="true"/>

        <setting id="plugin_evilox" type="bool" label="Evilox (Vidéos)" default="true"/>

        <setting id="plugin_film_illimit_fr" type="bool" label="Film Illimité (Films)" default="true"/>

        <setting id="plugin_filmstreamingv2" type="bool" label="Film stream vk (Films, Séries, Animés)" default="true"/>

        <setting id="plugin_filmstreamvk_com" type="bool" label="Film stream vk (Films, Séries, Animés)" default="true"/>

        <setting id="plugin_filmsvostfr_biz" type="bool" label="Filmsvostfr (Films, Séries, Animés)" default="true"/>

        <setting id="plugin_filmzenstream_com" type="bool" label="Filmzenstream (Films)" default="true"/>

        <setting id="plugin_free_telechargement_org" type="bool" label="Free Telechargement (Films, Séries)" default="true"/>

        <setting id="plugin_french_stream_com" type="bool" label="French Stream (Films, Séries)" default="true"/>

        <setting id="plugin_frenchddl_com" type="bool" label="FrenchDDL (Films)" default="true"/>

        <setting id="plugin_full_stream_org" type="bool" label="Full Stream (Films, Séries, Animés)" default="true"/>

        <setting id="plugin_fullmoviz_org" type="bool" label="FullMoviz (Films)" default="true"/>

        <setting id="plugin_gum_gum_streaming_com" type="bool" label="Gum-Gum-Streaming (Animés)" default="true"/>

        <setting id="plugin_kaydo_ws" type="bool" label="kaydo (Films, Séries)" default="true"/>

        <setting id="plugin_kepliz_com" type="bool" label="Kepliz (Films)" default="true"/>

        <setting id="plugin_les_debiles" type="bool" label="Les Débiles (Vidéos)" default="true"/>

        <setting id="plugin_les_docus" type="bool" label="Les docus (Documentaires)" default="true"/>

    </category>

    <category label="30147">

        <setting label="30303" type="lsep"/>
        <setting type="sep"/>

        <setting id="plugin_libertyland_tv" type="bool" label="Libertyland (Films, séries, Manga)" default="true"/>

        <setting id="plugin_libre_stream_org" type="bool" label="Libre-stream (Films, séries)" default="true"/>

        <setting id="plugin_malaisetv" type="bool" label="Malaise tv (Vidéos)" default="true"/>

        <setting id="plugin_mangacity_org" type="bool" label="Ianime (Animés)" default="true"/>

        <setting id="plugin_mareplaytv" type="bool" label="Mareplay TV (Replay)" default="true"/>

        <setting id="plugin_megastream" type="bool" label="Mega-stream (Films, Séries, Animés)" default="true"/>

        <setting id="plugin_navixsport_com" type="bool" label="Navixsport (Sports)" default="true"/>

        <setting id="plugin_neuf_docu" type="bool" label="9Docu (Documentaires)" default="true"/>

        <setting id="plugin_otakufr_com" type="bool" label="OtakuFR (Animés)" default="true"/>

        <setting id="plugin_papystreaming_org" type="bool" label="Papystreaming (Films,Séries)" default="true"/>

        <setting id="plugin_planet_streaming" type="bool" label="planet streaming (Films, Séries)" default="true"/>

        <setting id="plugin_regarder_films" type="bool" label="Regarder.films (Séries)" default="true"/>

        <setting id="plugin_replaytvstreaming_com" type="bool" label="ReplayTVstreaming (ReplayTV)" default="true"/>

        <setting id="plugin_reportagestv_com" type="bool" label="Reportages TV (Documentaires)" default="true"/>

        <setting id="plugin_robindesdroits" type="bool" label="Robin Des Droits (Sports)" default="true"/>

        <setting id="plugin_serie_streaming_watch" type="bool" label="SerieStreaming.watch (Séries)" default="true"/>

        <setting id="plugin_serie_streaminghd" type="bool" label="Série-StreamingHD (Séries)" default="true"/>

        <setting id="plugin_series_en_streaming_tv" type="bool" label="Series En Streaming (Séries)" default="true"/>

        <setting id="plugin_skstream_co" type="bool" label="Skstream (Films, Séries, Animes)" default="true"/>

        <setting id="plugin_sokrostream_biz" type="bool" label="Sokrostream (Films, Séries)" default="true"/>

        <setting id="plugin_spion_com" type="bool" label="Spion (Vidéos du net)" default="true"/>

        <setting id="plugin_streamay_bz" type="bool" label="Streamay (Films, Séries, Animés)" default="true"/>

        <setting id="plugin_streamcomplet" type="bool" label="StreamComplet (Films)" default="true"/>

        <setting id="plugin_streamelite" type="bool" label="StreamElite (Séries)" default="true"/>

        <setting id="plugin_streamfilmzzz" type="bool" label="StreamFilmzzz (Films)" default="true"/>

        <setting id="plugin_streaming_series_org" type="bool" label="Streaming-Series (Séries)" default="true"/>

        <setting id="plugin_streaming_series_xyz" type="bool" label="Streaming-series.cx (Séries)" default="true"/>

        <setting id="plugin_streamingbb" type="bool" label="StreamingBB (Films)" default="true"/>

        <setting id="plugin_streamingk_com" type="bool" label="StreamingK (Films, Séries, Animés)" default="true"/>

    </category>

    <category label="30148">

        <setting label="30303" type="lsep"/>
        <setting type="sep"/>

        <setting id="plugin_streamiz_co" type="bool" label="Streamiz.co (Films)" default="true"/>

        <setting id="plugin_streamzzz_com" type="bool" label="Streamzzz (Séries)" default="true"/>

        <setting id="plugin_tntv_rattrapage" type="bool" label="TNTV Rattrapage (Séries, TV Replay)" default="true"/>

        <setting id="plugin_topreplay" type="bool" label="TopReplay (TV Replay)" default="true"/>

        <setting id="plugin_tv_streaming_ch" type="bool" label="TV-Streaming (Films, Séries, Animés, Documentaires, TV Replay)" default="true"/>

        <setting id="plugin_tvrex_net" type="bool" label="Tvrex (Sports)" default="true"/>

        <setting id="plugin_videobuzzy_com" type="bool" label="Videobuzzy (Vidéos du Net)" default="true"/>

        <setting id="plugin_vkstreamingfilm_biz" type="bool" label="Vk Streaming Film (Films)" default="true"/>

        <setting id="plugin_voirfilms_org" type="bool" label="VoirFilms (Films, Séries, Animés)" default="true"/>

        <setting id="plugin_youtitou_com" type="bool" label="YouTitou (Animés)" default="true"/>

        <setting id="plugin_zone_telechargement_ws" type="bool" label="Zone Téléchargement.ws (Films,Séries,Animés,Documentaires)" default="true"/>

        <setting id="plugin_zonestreaming" type="bool" label="ZoneStreaming (Films,Séries)" default="true"/>

    </category>

    <category label="30127">

        <setting label="30034" type="lsep"/>
        <setting type="sep"/>
        <setting label="30036" type="action" action="XBMC.RunScript(special://home/addons/plugin.video.vstream/resources/lib/runscript.py, changelog)"/>
        <setting label="30035" type="action" action="XBMC.RunScript(special://home/addons/plugin.video.vstream/resources/lib/runscript.py, soutient)"/>

        <setting label="30033" type="lsep"/>
        <setting type="sep"/>
        <setting id="service_time" type="text" label="Derniere MAJ auto le:" default="" enable="false"/>
        <setting label="Upload kodi.log" type="action" action="XBMC.RunScript(special://home/addons/plugin.video.vstream/resources/lib/runscript.py, uplog)"/>
        <setting label="Supprimer une BDD" type="action" action="XBMC.RunScript(special://home/addons/plugin.video.vstream/resources/lib/runscript.py, clean)"/>
        <setting subsetting="true" label="Supprime une par une les BDD par sélection (Relancer l'addon une fois réussies)" type="lsep"/>
        <setting label="Clear Cache Addon" type="action" action="XBMC.RunScript(special://home/addons/plugin.video.vstream/resources/lib/runscript.py, addon)"/>
        <setting subsetting="true" label="Supprime la BDD du cache pour les métadonnées (Relancer l'addon une fois réussies)" type="lsep"/>
        <setting label="Clear Cache XBMC" type="action" action="XBMC.RunScript(special://home/addons/plugin.video.vstream/resources/lib/runscript.py, xbmc)"/>
        <setting subsetting="true" label="Supprime les fichiers temporaire de Kodi (Relancer Kodi une fois réussies)" type="lsep"/>
        <setting label="Clear .fi Files" type="action" action="XBMC.RunScript(special://home/addons/plugin.video.vstream/resources/lib/runscript.py, fi)"/>
        <setting subsetting="true" label="Supprime les fichiers de navigation temporaire de Kodi (Relancer Kodi une fois réussies)" type="lsep"/>
        <setting label="Clear Thumbnails" type="action" action="XBMC.RunScript(special://home/addons/plugin.video.vstream/resources/lib/runscript.py, thumb)"/>
        <setting subsetting="true" label="Supprime les fichiers images temporaire de Kodi physique et BDD (Relancer Kodi une fois réussies)" type="lsep"/>
        <setting label="Refresh Skin" type="action" action="XBMC.ReloadSkin()"/>

    </category>

    <category label="30300">
        <setting label="30145" type="lsep"/>
        <setting type="sep"/>
        <setting id="download_folder" type="folder" label="30145" default=""/>
        <setting label="30300" type="lsep"/>
        <setting type="sep"/>
        <setting id="Library_folder_Movies" type="folder" label="Films" default="special://userdata/addon_data/plugin.video.vstream/Films" />
        <setting id="Library_folder_TVs" type="folder" label="Séries" default="special://userdata/addon_data/plugin.video.vstream/Series" />
        <setting type="lsep" label="30301" />
        <setting type="sep" />
        <setting id="update_auto" type="bool" label="30302" default="true" />
    </category>

    <category label="30400">
        <!--<setting label="BetaSeries" type="lsep"/>
        <setting type="sep"/>
        <setting id="bs_login" type="text" label="30401" default=""/>
        <setting id="bs_pass" type="text" label="30402" default="" option="hidden"/> -->
        <setting label="Uptobox" type="lsep"/>
        <setting type="sep"/>
        <setting id="hoster_uptobox_premium" type="bool" label="30403" default="false"/>
        <setting id="hoster_uptobox_username" type="text" label="30401" default=""/>
        <setting id="hoster_uptobox_password" type="text" label="30402" default="" option="hidden"/>

        <setting label="1Fichier" type="lsep"/>
        <setting type="sep"/>
        <setting id="hoster_onefichier_premium" type="bool" label="30403" default="false"/>
        <setting id="hoster_onefichier_username" type="text" label="30401" default=""/>
        <setting id="hoster_onefichier_password" type="text" label="30402" default="" option="hidden"/>

        <setting label="Uploaded" type="lsep"/>
        <setting type="sep"/>
        <setting id="hoster_uploaded_premium" type="bool" label="30403" default="false"/>
        <setting id="hoster_uploaded_username" type="text" label="30401" default=""/>
        <setting id="hoster_uploaded_password" type="text" label="30402" default="" option="hidden"/>

        <setting label="Utiliser UrlResolver vous permettra d'utiliser Les debrideurs" type="lsep"/>
        <setting type="sep"/>
        <setting subsetting="true" label="ATTENTION: vStream ne gère pas cette partie, [CR] pensez à le désactiver si les vidéos ne marchent plus." type="lsep"/>
        <setting subsetting="true" label="A moins d'avoir un débrideur, [CR] cocher cette case vous apportera plus de problèmes que d'avantages." type="lsep"/>
        <setting type="sep"/>
        <setting id="UserUrlResolver" type="bool" label="Passer par UrlResolver" default="false"/>
        <setting label="Configurer UrlResolver" type="action" option="close" action="XBMC.RunScript(special://home/addons/plugin.video.vstream/resources/lib/runscript.py, urlresolver)" />
    </category>

    <!--<category label="30026">
        <setting label="30026" type="lsep"/>
        <setting label="(1) Activer TV Direct" type="action" action="ActivateWindow(settings)" enable ="true" />
        <setting label="(2) Activer l'addon  PVR IPTV simple client" type="action" action="ActivateWindow(addonbrowser)" enable ="true" />
        <setting label="(3) Modifier Paramètres PVR" type="action" action="Addon.OpenSettings(pvr.iptvsimple)" enable ="true" />
        <setting label="30028" type="lsep"/>
        <setting id="m3u" type="text" label="URL de la playlist M3U"  default="https://raw.githubusercontent.com/LordVenom/venom-xbmc-addons/master/repo/resources/webtv2.m3u"/>
        <setting id="xmltv" type="text" label="URL du fichier XMLTV" default="http://kazer.org/tvguide.xml?u=rgyamjgsph9gx"/>
        <setting id="icon" type="text" label="Dossier icône" default="special://userdata/addon_data/plugin.video.vstream/resources/art/tv"/>
        <setting type="sep" visible="true" />
        <setting id="pvr-view" type="bool" label="Active le racourcis Tv direct" default="false"/>
    </category>
    -->

</settings>
